<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tml.libs.cui">

    <!-- <application -->
    <!-- android:allowBackup="true" -->
    <!-- android:supportsRtl="true" -->
    <!-- android:theme="@style/AppTheme" -->
    <!-- &gt; -->
    <!-- </application> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity android:name=".activities.JSONObjectEditorActivity" />
        <activity android:name=".activities.ImageViewerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

    </application>

</manifest>